/* .hero-img {
    width: 100%;
    height: 250px;
} */

.hero {
    height: 450px;
    width: 100%;
    background: url(../assets/img/hero.jpg) 0 / cover;
    margin-top: 0;
    margin-bottom: 50px;
}

.hero h1 {
    color: white;
    text-transform: uppercase;
}

.hero div {
    color: white;
    text-transform: uppercase;
}

.hero .header-list {
    list-style: none;
}

.header {
    text-transform: uppercase;
    margin-bottom: 50px;
}
